@import "colors";
@import "fonts";

#footer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  p {
    transform: -50%;
    font-family: $CourierNew;
    color: $bg-color;
    text-align: center;
  }
}