@import "colors";
@import "fonts";

.splash-container {
  background-color: $bg-color;

  z-index: -1;
  overflow: hidden;

  width: 100%;
  height: 88%;
  top: 0;
  left: 0;
  position: fixed;

  p {
    font-family: $LeagueSpartan;
    color: $white;
    text-shadow: 0 0 0.3em $accent-color;
    text-align: left;
  }
}

#mainHeading {
  font-size: 3.2vw;
}

#subHeading {
  font-size: 2.0vw;
}

#demo-canvas {
  width: 100%;
  height: 100%;

  z-index: 3;
}

.splash {
  /* absolute center .splash within .splash-container */
  width: 80%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 100px; left: 0; bottom: 0; right: 0;
  text-align: center;
}
