@import "colors";
@import "fonts";

#navBar {
  background-color: $bg-color;

  a {
    color: $white;
    font-family: $CourierNew;
  }

  a:hover {
    color: $bg-color;
  }

  ul {
    font-size: 1.5vw;
    float: right;
  }

  .pure-menu-children {
    a {
      color: $bg-color;
    }
  }
}

.not-active {
  pointer-events: none;
  cursor: default;
}